.title {
    /* Titulo */
    color: #092933;
    /* Heading / H1 */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    /* or 136% */
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #092933;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacto-c{
    width: 100%;
    height: 30rem;
    background-color: white;
    padding-top: 5%;
    overflow: hidden;
}

.contacto-c>h3{
    text-align: center;
    display: block;
    margin-bottom: 2%;
    font-size: 45px;
}

.contacto-c>.nombre{
    text-align: center;
    display: block;
    margin-bottom: 2%;
    font-size: 40px;
    text-transform: capitalize;
    font-style: italic;
}


.contacto-c>span>a{
    text-decoration: none;
}

.contacto-c>span>a{
    text-align: center;
    display: block;
    margin-bottom: 2%;
    font-size: 30px;
    text-transform: capitalize;
    font-style: oblique;
    color: dimgrey;
}

.contacto-c>span>a:hover{
    color: #092933;
    scale: 1.2 1.2;
    transition: all 500ms;
}